@page  "/listsample"

@using System.Threading
@using Stl
@using Stl.Reflection
@using STLFusionSimpleSample.Shared.Services
@using STLFusionSimpleSample.Shared.Model

@inherits LiveComponentBase<ListSampleModel, ListSampleLocalsModel>

@inject IDataService dataService

@inject NavigationManager Navigator

@{
    var locals = Locals.Value;
    var state = State.LastValue;
    var dataList = state.DataList;
    var error = State.Error;
}

<h3>List Sample</h3>

<StatefulComponentState Component="@this" />

<div class="alert alert-primary">
    Open <a href="@Navigator.Uri" target="_blank">this page</a> or
    <a href="/listsample" target="_blank">List Sample</a>
    in another window to see everything is updated in sync in real time.
</div>
@if (locals.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @locals.Error.Message
    </div>
}
@if (error != null)
{
    <div class="alert alert-warning" role="alert">
        Update error: @error.Message
    </div>
}

<form @onsubmit="SendMessageAsync">
    <div class="input-group pb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Message</span>
        </div>
        <input class="form-control"
               placeholder="Type your message"
               @bind-value="locals.Message" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Send</button>
        </div>
    </div>
</form>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in dataList.Messages)
        {
            {
                <tr>
                    <td style="width: auto; min-width: 67%">@message</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    private bool HasError => Locals.Value.Error != null;

    protected override async Task<ListSampleModel> ComputeStateAsync(CancellationToken cancellationToken)
    {
        var dataList = await dataService.GetDataListAsync(10, cancellationToken);
        return new ListSampleModel()
        {
            DataList = dataList,
        };
    }

    private async Task SendMessageAsync()
    {
        ResetError();
        try
        {
            var locals = Locals.Value;
            if (locals.Message != string.Empty)
            {
                await dataService.AddMessageAsync(locals.Message);
                UpdateLocals(l => l.Message = "");
            }

        }
        catch (Exception e)
        {
            SetError(e);
        }
    }

    // Convenience shortcuts

    private void ResetError()
        => SetError(null);

    private void SetError(Exception? error)
        => UpdateLocals(l => l.Error = error);

    private void UpdateLocals(Action<ListSampleLocalsModel> updater)
    {
        // Ideally, Locals should be immutable
        var clone = MemberwiseCloner.Clone(Locals.Value);
        updater.Invoke(clone);
        Locals.Value = clone;
    }
}